<div style="background-color: rgb(192, 214, 219);min-height: 100vh;">
    <div>
        <header>

            <div class="d-flex justify-content-around align-items-center" style="height: 100px;">
                <div>
                    <img src="../../assets/m1.png" alt="logo">
                </div>
                <div>
                    <h2 style="color: darkblue;">Magtech Store</h2>

                </div>
                <div class="d-flex justify-content-between gap-3">
                    <div><span style="color: darkblue;"><i class="bi bi-cart3"></i></span></div>
                    <div>
                        <span style="color: darkblue;">
                            <i class="bi bi-person-circle"></i>&nbsp;<i class="bi bi-caret-down-fill"></i>

                        </span>
                    </div>

                </div>
            </div>
        </header>
        <hr>
    </div>

    <div>
        <div class="d-flex align-items-center justify-content-center " style="min-height: 450px;font-size: 18px;">
            <p style="color: darkblue;" class="text-center">Welcome. Please scan the product!</p>


        </div>
        <hr>

        <div>
            <div class="d-flex justify-content-end gap-3" style="padding:10px 20px;">
                <span style="color: darkblue;" class="font-weight-bold">Total Quantity :0</span><span
                    style="color: darkblue;" class="font-weight-bold">Grand Total Price:₹0</span>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <div class="d-flex justify-content-between gap-3">
                <span class="border-btn">
                    <i class="bi bi-telephone"></i> Call Support
                </span>
                <span class="border-btn"><i class="bi bi-gem"></i> Offers
                </span>
                <span class="border-btn"><i class="bi bi-cart-check"></i> Checkout</span>
                <span class="border-btn"><i class="bi bi-gift"></i> Compliments</span>
            </div>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>